
.Grid {
  margin: 5px auto ;
  width: 576px;
  height: 576px;
  align-items: center; 
  /* box-shadow: 0 2px 2px 0; */
  border:10px solid rgb(162, 104, 73);
  box-shadow: 0 2px 2px 2px;
  /* border: 2px solid #000000; */
}

.Grid-square {
  background-color: forestgreen;
  width: 70px;
  height: 70px;
  /* margin: auto; */
  border: 1.0px solid ;
  display: flex;
}

.Grid-square-stone-white {
  background-color: white;
}

.Grid-square-stone-black {
  background-color: rgba(0, 0, 0, 0.812);
}

.Grid-square-stone{
  width:40px;
  height:40px;
  margin: auto;
  border-radius: 30px;
  background-image: linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.1) inset,0 2px 10px 0 rgba(255,255,255,.2) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
  border: 1px solid rgba(0,0,0,.2);
}

.Grid-row {
  display: flex;
  /* border: 1.0px solid ; */
}