.newgame_button {
  background-color: rgb(231, 76, 60);
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 300px;
}

.pass_button {
  background-color: rgb(231, 157, 60);
  border: solid rgba(255, 67, 67, 0.896);
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 100px;
  margin: auto 0 20px 10px;
}

.contents {
  /* display: flex; */
  display: flex;
  align-items: center;
}